<!-- templates/post_list.html -->
{% extends 'layout.html' %}
{% block content %}
    <section class="section-content w-100 ">
        <div class="container">
            <div style="border-radius: 15px" class="card my-5 text-center">
                <div class="col">
                    <div class="card-header py-3 row">
                        <div class="text-center mx-auto px-5">
                            <h2>{{ video.title }}</h2>
                            <hr class="mx-auto"/>
                            <h5 class="py-3">نویسنده: {{ video.author }}</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="content">
                            <div class="row">
                                <video class="mx-auto" src="{{ video.get }}" controls></video> {% comment %} Add quality options later ... {% endcomment %}
                            </div>
                            <hr />
                            <div class="row">
                                <p>{{ video.caption }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pt-5">
                        <p> منتشر شده توسط {{ video.author }}</p>
                        <p>{{ video.created_at|date:"F j, Y, g:i a" }}</p>
                    </div>
                </div>
            </div> <!-- card.// -->
        </div>
    </section>
{% endblock %}