{% extends 'layout.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <section class="section-content pure-article padding-y bg">
        <div class="container ">
        <!-- ============================ COMPONENT 1 ================================= -->

            <div style="border-radius: 5px" class="card my-5 ">
                <div class="row no-gutters">
                    <main class="border-left text-right" style="border-radius: 20px;">
                        <article class="content-body">
                            <h2 class="title text-center py-3">درباره ما</h2>
                            <hr />

                            <p class="article-text">
                                این فروشگاه اینترنتی کشاورزی  کاملا مستقل و بدون وابستگی به هیچ نهاد و ارگانی، اولین فروشگاه اینترنتی کشاورزی در گیلان و جزء بزرگترین فروشگاه های اینترنتی کشاورزی در ایران است. این فروشگاه در سال ۱۴۰۳ با یک تیم مجرب از افراد متخصص در زمینه های باغداری، زراعت، گیاهپزشکی، بازرگانی و فناوری اطلاعات تاسیس نمود.
                            <p>
                            <p class="article-text">
                                با توجه به پیشرفت تکنولوژی و فراگیر شدن آن، حتی در دورترین روستاهای کشورمان، دیگر خرید و فروش سنتی مقرون بصرفه نیست، چون شما می توانید با کمک اینترنت در کمترین زمان ممکن، بیشترین اطلاعات را بدست آورده و در کنار مقایسه آنها ، بهترین خرید ممکن را انجام بدهید.
                            </p>
                            <ul>
                                <li class="article-text">
                                    بدون صرف هیچ انرژی و اتلاف وقتی
                                </li>
                                <li class="article-text">
                                    بدون ایجاد هیچ ترافیکی
                                </li>
                                <li class="article-text">
                                    بدون هیچ خطر تصادف و یا استهلاکی
                                </li>
                                <li class="article-text">
                                    بدون هیچ رودرواسی با فروشنده ای
                                </li>
                                <li class="article-text">
                                    و بدون هیچ از این مغازه به اون مغازه رفتنی
                                </li>
                            </ul>
                         </article>
                    </main>
                </div>
            </div>
            <br>
            <hr>
        </div>
    </section>
     <section class="section-content pure-article padding-y bg">
        <div class="container ">
        <!-- ============================ COMPONENT 1 ================================= -->

            <div style="border-radius: 5px" class="card ">
                <div class="row no-gutters">
                    <main class="border-left text-right" style="border-radius: 20px;">
                         <article class="content-body">
                            <h2 class="title text-center py-3">خدمات ما</h2>
                            <hr />

                            <ol>
                                <li class="px-3 py-5">
                                    <b>فروش آنلاین کود،سم، بذر و ادوات</b>
                                    <p class="article-text">
                                        وبسایت و اپلیکیشن با دربرداشتن تعداد کثیری از محصول شامل انواع کود،سم، بذر و ادوات کشاورزی یکی از اولین و بزرگترین بسترهای فروش آنلاین نهاده های کشاورزی است.
                                    </p>
                                    <p class="article-text">
                                        این فروشگاه سفارش های بالای ۵ میلیون  تومان را به صورت رایگان به سراسر ایران ارسال می‌کند.
                                        همچنین امکان ارسال از طریق باربری ها و یا اتوبوس نیز در فرايند خرید توسط کاربر قابل انتخاب است.
                                    </p>
                                </li>
                                <li class="px-3 py-5">
                                    <b>فروشگاه فیزیکی کشاورزی آنلاین</b>
                                    <p class="article-text">
                                       این فروشگاه واقع در استان گیلان شهرستان تالش جنب مسجد محمدیه موسسه خدمات کشاورزی جولانی، این امکان را فراهم نموده تا افرادی که خرید حضوری را میپسندند بتوانند با حضور در فروشگاه خرید خود را انجام دهند.
                                    </p>
                                </li>
                                <li class="px-3 py-5">
                                    <b>مشاوره تلفنی رایگان</b>
                                    <p class="article-text">
                                       کشاورزی به عنوان یک حوزه تخصصی نیاز به اطلاعات بروز علمی و فنی دارد. خرید بذر بدون مشاوره میتواند ضرر و زیان های فراوانی در پیش داشته باشد و خرید آگاهانه کود میتواند منجر به محصول بهتر و پربارتری شود. به همین دلیل فروش در این فروشگاه با مشاوره های تلفنی رایگان میتواند آگاهانه و متناسب با نیاز و بودجه کشاورزان، گلخانه داران و باغداران عزیز باشد.
                                    </p>
                                    <p class="article-text">
                                        - تلفن ۰۹۳۷۲۵۳۷۱۸۸ در ایام کاری از ساعت ۸ صبح تا ۱۳ و همچنین ۱۵ تا ۲۰ در خدمت شماست.
                                    </p>
                                </li>
                                <li class="px-3 py-5">
                                    <b>پیج اینستاگرام</b>
                                    <p class="article-text">
                                        پیج اینستاگرام مجموعه با آی دی keshavarzi_jolani  یکی از بزرگترین محل گردهمایی کشاورزان، متخصصان و علاقه مندان به کشاورزی است و مشتمل بر چندین پست و استوری اختصاصی آموزشی  در زمینه های مختلف کشاورزی اعم از زراعت، باغبانی و گلخانه است. همچنین بخش عمده اطلاع رسانی ها درمورد فستیوال های فروش و پرسش پاسخ های فنی در آنجا انجام میگردد.
                                    </p>
                                </li>
                                <li class="px-3 py-5">
                                    <b>مقالات و کلیپ های تخصصی</b>
                                    <p class="article-text">
                                        این مجموعه با ارائه و معرفی محتوای مقاله های تخصصی کشاورزی شامل برنامه تغذیه انواع مختلف محصولات کشاورزی  و شبکه اختصاصی پخش ویدیوهای تخصصی به صورت رایگان به مخاطبان خدمات رسانی میکند.
                                    </p>
                                </li>
                            </ol>
                         </article>
                    </main>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
