{% load static %}

<header class="section-header">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarTop4">
            <ul class="navbar-nav">
                <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=pheelstyle.ir@gmail.com&su=What's up Dadach?" class="nav-link"> <i class="fa fa-envelope"></i> ایمیل </a></li>
                <li><a href="tel:+989372537188" class="nav-link"> <i class="fa fa-phone"></i> تلفن </a></li>
            </ul> <!-- list-inline //  -->
          </div> <!-- navbar-collapse .// -->
        </div> <!-- container //  -->
    </nav>
    <section class="section-intro padding-y-sm">
        <div class="container">
            <div class="intro-banner-wrap">
                {% comment %} <img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded" alt="بارگذاری با مشکل مواجه شد"> {% endcomment %}
                <div class="site-main-banner">TALEBI SHOP</div>
            </div>
        </div> <!-- container //  -->
    </section>
    <section class="header-main border-bottom">
        <div class="container header-icons-rainbow">
            <div id="navigation-box" class="row" style="height:150vh; background: url({% static 'images/logo.png' %}) no-repeat center center ;">
                <div style="border-radius: 1rem;" class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        <div class="text-right widget-header">
                            {% if user.ID is None %}
                                <small class="title text-info">سلام مهمان عزیز</small>
                                <div>
                                    <a class="text-warning profile-summary" href="{% url 'login' %}">ورود</a> <span class="dark-transp"> | </span>
                                    <a class="text-success profile-summary" href="{% url 'register' %}">ثبت نام</a>
                                </div>
                            {% else %}
                                <small class="title text-info">سلام {{user.fname}} {{user.lname}}</small>
                                <div>
                                    <a class="text-info profile-summary" href="{% url 'user-dashboard' %}" >پنل کاربری</a> <span class="dark-transp"> | </span>
                                    <a class="text-danger profile-summary" href="{% url 'logout' %}">خروج</a>
                                </div>
                            {% endif %}
                        </div>
                        <a href="{% url 'stack' %}" class="widget-header mx-auto">
                            <div class="icon icon-md rounded-circle border"><i class="fa fa-shopping-bag text-success pt-3"></i></div>
                            <span class="badge badge-pill badge-danger notify">{{stack_counter}}</span>
                        </a>
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
                <div class="col text-bold nav-bar-options col-lg-4 col-md-6" style="text-emphasis: '@';">
                    <div class="row mt-1"  style="border: 1px dashed green; border-radius: 8px">
                        <a href="/" class="btn {% if request.path == '/'%}btn-outline-success{% endif %} col">خانه</a>
                        <a href="{% url 'store' %}" class="btn {% if '/store/' in request.path or '/stack/' in request.path %}btn-outline-success{% endif %} col">فروشگاه</a>
                        <a href="{% url 'blogs' %}" class="btn {% if '/posts' in request.path %}btn-outline-success{% endif %} col">بلاگ</a>
                        <a href="{% url 'about' %}" class="btn {% if request.path == '/about/' %}btn-outline-success{% endif %} col">درباره ما</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md col-sm-12 col-12 col my-1 mx-auto">
                    <form action="{% url 'search' %}" method="post" class="search">
                        {% csrf_token %}
                        <div class="input-group">
                            <div class="input-group-append">
                              <button class="btn search-button" style="border-radius: 0 10px 10px 0;" type="submit">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                            <input type="text" required
                                   class="form-control text-center text-dark search-textbox"
                                   style="border-radius: 10px 0 0 10px;"
                                   name="search_text"
                                   placeholder="بگرد...">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</header>
<script>
    function popScreenUp() {
        document.getElementById('navigation-box').style.height = "25rem";
    }
    window.onload = function(){
        popScreenUp();
    }
</script>